
{% extends 'base.html'%}

{% block page_title %}
{{ page_title }}
{% endblock page_title %}

{% block brand %}
{{ brand }}
{% endblock brand %}

{% block title %}
{{ title }}
{% endblock title %}

{% block rightmenu %}
{{ rightmenu }}
{% endblock rightmenu %}


{% block content %}
<div class="jumbotron hero-technology">
    <h1 class="hero-title">The Hidden Organic Vegetables ;-&gt; </h1>
    <p class="hero-subtitle">&#39;Escape from the fact that so-called normally eat.&#39; Lü Bu - 197 </p>
    <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-apple"></i> Under developping</a><a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-google"></i> released 8/8/2559 on Google Play</a></p>
</div>

<section class="testimonials">
    <h2 class="text-center">More fresh than normal Organic Vegetables On-Demand!</h2>
    <p class="text-center">We deliver Organic Vegetables upto 1hour!</p>
    <section class="testimonials">
        <h2 class="text-center">Communicate with </h2>
        <p class="text-center">Paragraph</p>
    </section>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Fantastic Features</h2>
                <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
            </div>
            <div class="col-md-6">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-send"></i>
                        <p>1 HOUR DELIVERY</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-apple"></i>
                        <p>RELEASED TODAY</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-eye-close"></i>
                        <p>MONSANTO PROOF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>harVestHub © 2016</h5></div>
            <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>
</footer>



{% endblock %}
